<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
		<configSections>
		</configSections>
		<connectionStrings>
   <!--<add name="CC" connectionString="Data Source=W7-PC\SQLEXPRESS;Initial Catalog=SchoolDb;Integrated Security=True"
    providerName="System.Data.SqlClient" />
   <add name="SchoolSystemERP.Properties.Settings.SchoolDbConnectionString"
    connectionString="Data Source=W7-PC\SQLEXPRESS;Initial Catalog=SchoolDb;Integrated Security=True"
    providerName="System.Data.SqlClient" />
   <add name="SchoolSystemERP.Properties.Settings.SchoolDBConnectionString1"
    connectionString="Data Source=W7-PC\SQLEXPRESS;Initial Catalog=SchoolDb;Integrated Security=True"
    providerName="System.Data.SqlClient" />-->
			<add name="CC" connectionString="Data Source=HABO-PC;Initial Catalog=SchoolDB;Integrated Security=True"
    providerName="System.Data.SqlClient" />
<add name="SchoolSystemERP.Properties.Settings.SchoolDbConnectionString"
 connectionString="Data Source=HABO-PC;Initial Catalog=SchoolDB;Integrated Security=True"
 providerName="System.Data.SqlClient" />
<add name="SchoolSystemERP.Properties.Settings.SchoolDBConnectionString1"
 connectionString="Data Source=HABO-PC;Initial Catalog=SchoolDB;Integrated Security=True"
 providerName="System.Data.SqlClient" />
  </connectionStrings>
	</configuration>
<!--local database file alaa pc-->
<!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\dinag\Documents\SchoolDb.mdf;Integrated Security=True;Connect Timeout=30;"-->
<!--local sql server alaa pc-->
<!--<add name="CC" connectionString="Data Source=DESKTOP-6NMRDFU;Initial Catalog=SchoolDB;Integrated Security=True"
    providerName="System.Data.SqlClient" />
<add name="SchoolSystemERP.Properties.Settings.SchoolDbConnectionString"
 connectionString="Data Source=DESKTOP-6NMRDFU;Initial Catalog=SchoolDB;Integrated Security=True"
 providerName="System.Data.SqlClient" />
<add name="SchoolSystemERP.Properties.Settings.SchoolDBConnectionString1"
 connectionString="Data Source=DESKTOP-6NMRDFU;Initial Catalog=SchoolDB;Integrated Security=True"
 providerName="System.Data.SqlClient" />-->
<!--local server connection almanar pc-->
<!--<add name="CC" connectionString="Data Source=ASH-PC\SQLEXPRESS;Initial Catalog=SchoolDb;User Id=sa;Password=123;"-->
<!--<add name="SchoolSystemERP.Properties.Settings.SchoolDbConnectionString"
    connectionString="Data Source=ASH-PC\SQLEXPRESS;Initial Catalog=SchoolDb;User Id=sa;Password=123;"
    providerName="System.Data.SqlClient" />
   <add name="SchoolSystemERP.Properties.Settings.SchoolDBConnectionString1"
    connectionString="Data Source=ASH-PC\SQLEXPRESS;Initial Catalog=SchoolDb;User Id=sa;Password=123;"
    providerName="System.Data.SqlClient" />-->
<!--local server connection eqraa pc-->
<!-- <add name="CC" connectionString="Data Source=W7-PC\SQLEXPRESS;Initial Catalog=SchoolDb;Integrated Security=True"-->
 <!--<add name="SchoolSystemERP.Properties.Settings.SchoolDbConnectionString"
    connectionString="Data Source=W7-PC\SQLEXPRESS;Initial Catalog=SchoolDb;Integrated Security=True"
    providerName="System.Data.SqlClient" />
   <add name="SchoolSystemERP.Properties.Settings.SchoolDBConnectionString1"
    connectionString="Data Source=W7-PC\SQLEXPRESS;Initial Catalog=SchoolDb;Integrated Security=True"
    providerName="System.Data.SqlClient" />-->
